@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 1250px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}

:root {
  --main-bg-color: rgba(204, 231, 38, 0.1);
  --main-color: rgb(204, 231, 38);
}

header {
  position: fixed;
  z-index: 3;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
  left: 0;
  right: 0;
}
header .navbar-nav .nav-item a {
  border-radius: 15px;
  font-size: 18px;
}
header .navbar-nav .nav-item a:hover {
  background-color: rgb(204, 231, 38);
  border-radius: 10px;
  transition: color 0.5s;
  position: relative;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  box-shadow: 2px 2px 1px rgb(204, 231, 38);
}
header .social_media {
  margin-right: 20px;
}
header .social_media a {
  padding-left: 15px;
}
header .social_media img {
  width: 20px;
  height: 20px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5), 7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-1 {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.btn-1:hover {
  color: white;
}

.btn-1 span {
  background: rgb(204, 231, 38);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-1 span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.6), -4px -4px 5px 0px rgba(255, 255, 255, 0.6), 7px 7px 20px 0px rgba(0, 0, 0, 0.1333333333), 4px 4px 5px 0px rgba(0, 0, 0, 0.0666666667);
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-1 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-1:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.btn-1:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.cart {
  position: relative;
  padding: 20px 19px;
  transition: background-color 0.3s;
}

.cart.active:hover {
  cursor: pointer;
  background: rgba(93, 113, 221, 0.1);
  transition: background-color 0.3s;
}

.header__cart {
  margin-left: 10px;
}

.cart__quantity {
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -10px;
  background-color: #de707b;
  border-radius: 100%;
  padding: 2px;
  color: #fff;
  font-size: 12px;
  min-height: 16px;
  min-width: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cart-content {
  cursor: default;
  width: 490px;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cart.active:hover .cart-content {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.content {
  padding-top: 90px;
}

.cart-content__list {
  max-height: 330px;
}

.cart-product {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  padding-right: 13px;
  transition: background-color 0.3s;
}

.cart-product:hover {
  background: rgba(93, 113, 221, 0.1);
  transition: background-color 0.3s;
}

.cart-product__img {
  margin-right: 20px;
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

.cart-product__title {
  max-width: 300px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-dark);
  margin-bottom: 18px;
}

.details-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 80%;
}
.details-wrapper .items {
  font-family: "Merriweather", serif;
  background: #f2f2f2;
  border-radius: 8px;
  width: 120px;
  display: flex;
  font-size: 28px;
  height: 32px;
  color: dimgray;
  overflow: hidden;
}
.details-wrapper .items__control {
  width: 40px;
  cursor: pointer;
  transition: 0.2s ease-in;
  text-align: center;
}
.details-wrapper .items__control:hover {
  background: rgb(204, 231, 38);
  color: #FFF;
}
.details-wrapper .items__current {
  width: 40px;
}

.cart-product__price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-dark);
}

.cart-product__delete {
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../../../images/dustbin_120823.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  padding: 0;
}

.cart-content__bottom {
  padding: 20px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-content__fullprice {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
}

.fullprice {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-dark);
}

.cart-content__btn {
  display: inline-block;
  width: 246px;
  text-align: center;
}

.simplebar-track.simplebar-vertical {
  width: 4px;
  background: rgba(77, 77, 77, 0.1);
  border-radius: 5px;
  right: 5px;
  margin-top: 20px;
  height: calc(100% - 40px);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(77, 77, 77, 0.2);
  border-radius: 5px;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
}

@media (max-width: 576px) {
  header .navbar {
    max-width: 550px;
  }
  header .navbar .container {
    max-width: 80%;
  }
}
@media (max-width: 320px) {
  header .navbar {
    max-width: 290px;
  }
  header .navbar .container {
    max-width: 80%;
  }
}
[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.banner {
  background: url("../../../images/banner-background.jpeg");
  margin-bottom: 50px;
  padding-bottom: 20px;
}
.banner .banner_item {
  padding-top: 50px;
  padding-bottom: 20px;
  max-height: content-box;
}
.banner .banner_item h1 {
  font-size: 70px;
  background: rgba(204, 231, 38, 0.8);
  border-radius: 5px;
  padding: 0 10px;
  text-align: center;
  margin-bottom: 15px;
  color: dimgray;
}
.banner .banner_item h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
  color: dimgray;
}
.banner .banner_item .btn-2 {
  background: rgb(204, 231, 38);
  border: none;
  width: 400px;
  height: 60px;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  line-height: 43px;
  text-align: center;
}
.banner .banner_item .btn-2:before {
  height: 0;
  width: 2px;
}
.banner .banner_item .btn-2:hover {
  color: white;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

@media (max-width: 992px) {
  .banner {
    background: #f2f2f2;
  }
  .banner .row {
    flex-direction: column-reverse;
  }
}
@media (max-width: 576px) {
  .banner .my-cont {
    max-width: 100%;
  }
  .banner .my-cont .btn-2 {
    max-width: 70%;
    font-size: 15px;
    line-height: 20px;
    margin: 0 auto;
  }
  .banner .my-cont h1 {
    font-size: 50px;
  }
  .banner .my-cont h2 {
    font-size: 30px;
  }
}
@media (max-width: 320px) {
  .banner .my-cont {
    max-width: 100%;
  }
  .banner .my-cont .btn-2 {
    max-width: 70%;
  }
}
.about_us {
  padding-top: 60px;
  margin-bottom: 40px;
}
.about_us .row {
  border: 2px solid rgb(204, 231, 38);
  border-radius: 10px;
  padding-right: 0;
}
.about_us .about-item img {
  width: 100%;
}
.about_us .about-item2 {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 30px;
}
.about_us .about-item2 h3 {
  font-size: 70px;
  background: rgba(204, 231, 38, 0.8);
  border-radius: 5px;
  padding: 0 10px;
  text-align: center;
  margin-bottom: 25px;
  color: dimgray;
}
.about_us .about-item2 p {
  text-align: center;
  line-height: 2;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
}

@media (max-width: 992px) {
  .about_us {
    padding-top: 0;
  }
  .about_us .row {
    flex-direction: column;
    padding: 0;
  }
  .about_us .row .about-item, .about_us .row .about-item2 {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .about_us .container {
    max-width: 100%;
  }
  .about_us .container h3 {
    font-size: 50px;
  }
  .about_us .container p {
    line-height: 1;
  }
  .about_us .container hr {
    margin-bottom: 10px;
  }
}
.catalog {
  padding: 100px 0;
  background: url("../../../images/banner-background.jpeg");
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.catalog a {
  text-decoration: none;
  color: inherit;
}
.catalog h4 {
  font-size: 70px;
  border-radius: 5px;
  padding: 0 10px;
  text-align: center;
  margin-bottom: 25px;
  color: dimgray;
}
.catalog .product {
  width: 23%; /* для удобства */
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 20px;
  font-size: 14px;
  background-color: #fff;
  text-align: center;
}
.catalog .product__image {
  position: relative;
  overflow: hidden;
  display: block;
  height: 162px;
}
.catalog .image-switch {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.catalog .image-switch__item {
  flex-grow: 1;
  cursor: pointer;
}
.catalog .image-switch__img {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  pointer-events: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.catalog .image-switch__img img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.catalog .image-switch__item:first-child .image-switch__img {
  opacity: 1;
  z-index: -1;
}
.catalog .image-switch__item:hover .image-switch__img {
  opacity: 1;
  z-index: -1;
}
.catalog .image-pagination {
  position: absolute;
  z-index: 30;
  left: 0;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.catalog .image-pagination__item {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  margin: 0 3px;
  background-color: #ffffff;
}
.catalog .image-pagination__item--active {
  background-color: rgb(204, 231, 38);
}
.catalog .product__title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: black;
}
.catalog .product__info {
  margin-bottom: 17px;
  font-size: 12px;
  color: dimgray;
}
.catalog .product__term {
  display: block;
  margin-bottom: 7px;
}
.catalog .product__available {
  display: block;
}
.catalog .product-price {
  margin-bottom: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog .product-price__current {
  margin-right: 12px;
  font-size: 24px;
  color: black;
}
.catalog .product-price__old {
  font-size: 12px;
  color: dimgray;
  text-decoration: line-through;
}
.catalog .product__a {
  margin-bottom: 10px;
}
.catalog .product__btn, .catalog .product__a {
  padding: 14px 0;
  border-radius: 4px;
  width: 100%;
  color: black;
  background-color: #f2f2f2;
  border: 2px solid rgb(204, 231, 38);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-transform: uppercase;
}
.catalog .product__btn:hover, .catalog .product__a:hover {
  background-color: rgba(204, 231, 38, 0.7);
  transition: background-color 0.3s ease-in-out;
}
.catalog .details-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.catalog .items {
  font-family: "Merriweather", serif;
  border-radius: 8px;
  width: 120px;
  display: flex;
  font-size: 28px;
  height: 32px;
  color: dimgray;
  overflow: hidden;
}
.catalog .items__control {
  width: 40px;
  cursor: pointer;
  transition: 0.2s ease-in;
  text-align: center;
}
.catalog .items__control:hover {
  background: rgb(204, 231, 38);
  color: #FFF;
}
.catalog .items__current {
  width: 40px;
}

@media (max-width: 1200px) {
  .catalog {
    background: #f2f2f2;
  }
  .catalog .product {
    width: 48%;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .catalog h4 {
    font-size: 45px;
  }
  .catalog .product {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .catalog .container {
    max-width: 100%;
  }
}
@media (max-width: 320px) {
  .catalog .container {
    max-width: 100%;
  }
}
.pluses_wrapper {
  position: relative;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgb(255, 255, 255);
}
.pluses_wrapper h4 {
  font-size: 50px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: 25px 0;
  color: dimgray;
  border: 2px solid rgb(204, 231, 38);
  box-shadow: inset 2px 2px 5px rgb(204, 231, 38), 1px 1px 5px rgb(204, 231, 38);
}
.pluses_wrapper .left {
  padding: 30px;
}
.pluses_wrapper .left-item {
  align-items: center;
  padding: 10px 5px;
  margin-bottom: 15px;
}
.pluses_wrapper .left-item .i-img {
  background-color: rgba(204, 231, 38, 0.5);
  border-radius: 25%;
}
.pluses_wrapper .left-item p {
  line-height: 1;
  font-size: 17px;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
}

@media (max-width: 992px) {
  .pluses_wrapper .my-row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pluses_wrapper .my-row .plus-item {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .pluses_wrapper h4 {
    font-size: 45px;
  }
  .pluses_wrapper .left-item {
    margin-bottom: 5px;
  }
  .pluses_wrapper .left-item p {
    line-height: 20px;
  }
}
@media (max-width: 576px) {
  .pluses_wrapper .container {
    max-width: 100%;
  }
}
@media (max-width: 320px) {
  .pluses_wrapper .container {
    max-width: 100%;
  }
}
.delivery {
  background: url("../../../images/banner-background.jpeg");
  padding: 100px 0;
  box-sizing: border-box;
}
.delivery h3 {
  font-size: 50px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin-bottom: 50px;
  color: dimgray;
}
.delivery .del-item {
  align-items: center;
  padding: 15px 5px;
  box-sizing: border-box;
  margin: 15px 0;
}
.delivery .del-item .i-number {
  background-color: rgba(204, 231, 38, 0.5);
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  height: 100%;
  align-items: center;
  font-style: italic;
}
.delivery .del-item p {
  line-height: 1;
  font-size: 17px;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  font-style: italic;
}
.delivery .btn-3 {
  background: rgb(204, 231, 38);
  border: none;
  width: 400px;
  height: 60px;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  line-height: 43px;
  text-align: center;
  margin: 70px 0;
}
.delivery .btn-3:before {
  height: 0%;
  width: 2px;
}
.delivery .btn-3:hover {
  color: white;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

hr {
  margin-bottom: 60px;
  color: transparent;
}

.partners {
  align-items: center;
}
.partners .part-item img {
  width: 100%;
}

@media (max-width: 992px) {
  .delivery .del-item {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .delivery .del-item {
    width: 100%;
    margin: 5px 0;
  }
}
@media (max-width: 576px) {
  .delivery {
    background: #f2f2f2;
  }
  .delivery .container {
    max-width: 100%;
  }
  .delivery .container .btn-3 {
    max-width: 70%;
    font-size: 15px;
    line-height: 30px;
    margin: 0 auto;
  }
}
@media (max-width: 320px) {
  .delivery .container {
    max-width: 100%;
  }
}
footer {
  background-color: #f2f2f2;
  padding-top: 32px;
  padding-bottom: 40px;
}
footer .footer-row {
  padding-top: 15px;
  border-top: 5px solid #E6E6F0;
}
footer .f-contact a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
footer .f-contact a:hover {
  background-color: rgb(204, 231, 38);
  border-radius: 5px;
}
footer .social_media {
  padding: 15px;
}
footer .social_media a {
  padding-right: 10px;
}
footer .social_media a:hover {
  background-color: white;
}
footer .social_media img {
  width: 20px;
  height: 20px;
}
footer .toTop {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(204, 231, 38);
  color: dimgray;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup_content {
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
  opacity: 1;
}

.popup_area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup_body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup_content {
  max-width: 800px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.form {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #F4F4F4;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.form .form-body {
  position: relative;
}
.form .form-body::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background: rgba(204, 231, 38, 0.6) url("../../../images/YlWC.gif") center;
  opacity: 0;
  visibility: hidden;
}
.form .form-body._sending::after {
  opacity: 1;
  visibility: visible;
}
.form h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #000;
  text-align: center;
  font-size: 20px;
}
.form .form-item {
  position: relative;
}
.form input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgb(204, 231, 38);
  outline: none;
  background: transparent;
}
.form .form_input._error {
  border-bottom: 1px solid red;
}
.form label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  pointer-events: none;
  transition: 0.5s;
}
.form input:focus ~ label,
.form input:valid ~ label {
  top: -20px;
  left: 0;
  color: rgb(204, 231, 38);
  font-size: 12px;
}
.form button {
  border: none;
  background: transparent;
  margin-top: 40px;
}
.form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #000;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
}
.form button:hover {
  background: rgb(204, 231, 38);
  color: #000;
  border-radius: 4px;
  box-shadow: 0 0 5px rgb(204, 231, 38), 0 0 5px rgb(204, 231, 38), 0 0 5px rgb(204, 231, 38), 0 0 5px rgb(204, 231, 38);
}
.form button span {
  position: absolute;
  display: block;
}
.form button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgb(204, 231, 38));
  animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.form button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgb(204, 231, 38));
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.form button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgb(204, 231, 38));
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.form button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgb(204, 231, 38));
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
