.pluses_wrapper {
  position: relative;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
  box-shadow: inset 2px 2px 5px rgb(154 147 140 / 50%), 1px 1px 5px rgb(255 255 255);


  h4 {
    font-size: 50px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin: 25px 0;
    color: dimgray;
    border: 2px solid rgb(204, 231, 38);
    box-shadow: inset 2px 2px 5px rgb(204, 231, 38), 1px 1px 5px rgb(204, 231, 38);
  }

  .left {
    padding: 30px;
  }

  .left-item {
    align-items: center;
    padding: 10px 5px;
    margin-bottom: 15px;


    .i-img {
      background-color: rgba(204, 231, 38, 0.5);
      border-radius: 25%;
    }

    p {
      line-height: 1;
      font-size: 17px;
      font-weight: 400;
      font-family: Montserrat, sans-serif;
    }
  }

}