@media (max-width: 992px) {
  .pluses_wrapper {
    .my-row {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .plus-item {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {

  .pluses_wrapper {
    h4 {
      font-size: 45px;
    }
    .left-item {
      margin-bottom: 5px;
      p {
        line-height: 20px;
      }
    }

  }
}

@media (max-width: 576px) {

  .pluses_wrapper {
    .container {
      max-width: 100%;
    }
  }

}

@media (max-width: 320px) {

  .pluses_wrapper {
    .container {
      max-width: 100%;
    }
  }

}
















