@media (max-width: 992px) {

  footer {
    .footer-row {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .footer-item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding-bottom: 15px;
      }
    }

  }

}