footer {
  background-color: #f2f2f2;
  padding-top: 32px;
  padding-bottom: 40px;

  .footer-row {
    padding-top: 15px;
    border-top: 5px solid #E6E6F0;
  }
  .f-contact {
    a {
      text-decoration: none;
      color: black;
      padding: 10px;
    }
    a:hover {
      background-color: rgb(204, 231, 38);
      border-radius: 5px;
    }
  }

  .social_media {
    padding: 15px;
    a {
      padding-right: 10px;
    }
    a:hover {
      background-color: white;
    }
    img {
      width: 20px;
      height: 20px;
    }
  }

  .toTop {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid dimgray;
    background-color: rgb(204, 231, 38);
    color: dimgray;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;


    position: fixed;
    right: 30px;
    bottom: 30px;
  }
}

.pl_link {
color: transparent;
  padding-right: 20px;
}
.pl_link:hover {
  color: transparent;
}










