header {
  position: fixed;
  z-index: 3;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
  left: 0;
  right: 0;

  .navbar-nav {
    .nav-item {
      a {
        border-radius: 15px;
        font-size: 18px;
      }
      a:hover {
        background-color: rgb(204, 231, 38);
        border-radius: 10px;
        transition: color 0.5s;
        position: relative;
        transition-property: background-color, color;
        transition-duration: 1s;
        transition-timing-function: ease-out;
        box-shadow: 2px 2px 1px rgb(204, 231, 38);
        }
      }
    }

  .social_media {
    margin-right: 20px;
    a {
      padding-left: 15px;
    }
    img {
      width: 20px;
      height: 20px;
    }
  }
  }

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),
  7px 7px 20px 0 rgba(0,0,0,.1),
  4px 4px 5px 0 rgba(0,0,0,.1);
  outline: none;
}

.btn-1 {
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.btn-1:hover {
  color: white;
}
.btn-1 span {
  background: rgb(204, 231, 38);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;

}
.btn-1 span:nth-child(1) {
  box-shadow:
          -7px -7px 20px 0px #fff9,
          -4px -4px 5px 0px #fff9,
          7px 7px 20px 0px #0002,
          4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-1 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-1:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-1:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}



.cart {
  position: fixed;
  padding: 20px 19px;
  transition: background-color 0.3s;
  top: 80px;
  right: 20px;
}

.cart.active:hover {
  cursor: pointer;
  background: rgba(93, 113, 221, 0.1);
  transition: background-color 0.3s;
}

.header__cart {
  margin-left: 10px;
  background-color: rgba(204, 231, 38, 0.5);
  border: 1px solid dimgray;
  border-radius: 5px;
}

.cart__quantity {
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -10px;
  background-color: #de707b;
  border-radius: 100%;
  padding: 2px;
  color: #fff;
  font-size: 12px;
  min-height: 16px;
  min-width: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cart-content {
  cursor: default;
  width: 490px;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cart.active:hover .cart-content {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.content {
  padding-top: 90px;
}

.cart-content__list {
  max-height: 330px;
}

.cart-product {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  padding-right: 13px;
  transition: background-color 0.3s;
}

.cart-product:hover {
  background: rgba(93, 113, 221, 0.1);
  transition: background-color 0.3s;
}

.cart-product__img {
  margin-right: 20px;
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

.cart-product__title {
  max-width: 300px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-dark);
  margin-bottom: 18px;
}

.details-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 80%;

  .items {
    font-family: 'Merriweather', serif;
    background: #f2f2f2;
    border-radius: 8px;
    width: 120px;
    display: flex;
    font-size: 28px;
    height: 32px;
    color: dimgray;
    overflow: hidden;
  }

  .items__control {
    width: 40px;
    cursor: pointer;
    transition: 0.2s ease-in;
    text-align: center;
  }

  .items__control:hover {
    background: rgb(204, 231, 38);
    color: #FFF;
  }

  .items__current {
    width: 40px;
  }
}

.cart-product__price {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-dark);
}

.cart-product__delete {
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../../../images/dustbin_120823.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  padding: 0;
}

.cart-content__bottom {
  padding: 20px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-content__fullprice {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
}

.fullprice {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-dark);
}

  .cart-content__btn {
    display: inline-block;
    width: 246px;
    text-align: center;
    color: white;
    background-color: rgb(204, 231, 38);
    border-radius: 10px;

  &:hover {
    background: rgb(204, 231, 38);
    color: white;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }
}

.simplebar-track.simplebar-vertical {
  width: 4px;
  background: rgba(77, 77, 77, 0.1);
  border-radius: 5px;
  right: 5px;
  margin-top: 20px;
  height: calc(100% - 40px);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: rgba(77, 77, 77, 0.2);
  border-radius: 5px;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
}



