@media (max-width: 576px) {
  header {
    .navbar {
      max-width: 550px;
      .container {
        max-width: 80%;
      }
    }
      .cart-content {
        width: 250px;
      }

  }
}


@media (max-width: 320px) {
  header {
    .navbar {
      max-width: 290px;

      .container {
        max-width: 80%;
      }
    }

  }
}